body {
  background-image: url('https://media4.giphy.com/media/l3q2RgN7WUjeUUXm0/giphy.gif?cid=ecf05e47ivplpaodcgbyq8as3tjg43ykdvq1mcx6kwlaojm5&rid=giphy.gif&ct=g');
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}